<div class="header">

  <p style="width: 100px; padding: 20px; border: 2px solid red;">@Html.ActionLink("Home", "Index", "Home")</p>
  <p style="width: 100px; padding: 20px; border: 2px solid red;">@Html.ActionLink("Doctor", "Index", "Doctors")</p>
  <p style="width: 100px; padding: 20px; border: 2px solid red;">@Html.ActionLink("Patient", "Index", "Patients")</p>

  <div id="headerImg"> 
    <p><img src="~/img/medical-history.png" style="width: 25px; height: 20px;">Doctor Patient Management</p>
  </div>

  <p style="width: 300px; padding: 20px; border: 2px solid red;" id="logInfo">@User.Identity.Name</p>

</div>