@{
  Layout = "_Layout";
  ViewBag.Title = "Home";
}

<h1>Welcome to the ProjectName!</h1>

@* <p>@Html.ActionLink("See all items", "Index", "Items")</p> *@

@* @Html.ActionLink("text display goes here", "Target-Controller-Name", "Name-of-the-controller-without-Controller-appended-to-it") *@