@{
  Layout = "_Layout";
  ViewBag.Title = "New User";
}

@using System.Security.Claims
<div class="accountIndex">
  <h1><strong>Authentication with Identity</strong></h1>
  <hr />
  @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-default" value="Log out" />
    }
  }
  else
  {
    <div id="accountLinks">
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
    <p>@Html.ActionLink("Go Home", "Index", "Home")</p>
    </div>
  }
</div>