@{
  Layout = "_Layout";
  ViewBag.Title = "Home";
}

<h1>Welcome to Doctor's Office!</h1>

<p>@Html.ActionLink("See All Doctors", "Index", "Doctors")</p>
<p>@Html.ActionLink("See All Patients", "Index", "Patients")</p>

@* @Html.ActionLink("text display goes here", "Target-Controller-Name", "Name-of-the-controller-without-Controller-appended-to-it") *@