@{
  Layout = "_Layout";
  ViewBag.Title = "Home";
}

<div class="homeIndex">
  <h1><strong>Doctor Patient Management</strong></h1>
  <div id="homeGuideline">
    <img src="~/img/doctor.png" style="width:300px;">
    <h4>Welcome to Doctor Patient Management!</h4>
    <h4>As administrator, you are able to build doctor office management system.</h4>
    <h4>For Doctor section, you manage to add and track all doctors and their patients.</h4>
    <h4>For Patient section, you manage to add and track all patients and their doctors.</h4>
    <h4>If you have any concerns, please contact to adela.yohana@gmail.com or jiwon1.han@gmail.com.</h4>
  </div>
  <div id="homeLinks">
    <p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
  </div>
</div>