@{
  Layout = "_Layout";
  ViewBag.Title = "All Patients";
}

@using DoctorOffice.Models;
@model IEnumerable<DoctorOffice.Models.Patient>;

<div class="patientsIndex">

  
  <h1><strong>List of Patients</strong></h1>
  @if (Model.Any())
  {
    @foreach (Patient patient in Model)
   {
      <h3>@Html.ActionLink($"{patient.FirstName} {patient.LastName}", "Details", new { id = patient.PatientId })</h3>
    }
  }
  else
  {
    <p>There are currently no patients registered. Click below to add a new patient.</p>
  }
<div class="exceptionError">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
    <h4>@TempData["ErrorMessage"]</h4>
    }
</div>

  <div id="patientIndexLinks">
    <p><img src="~/img/add-friend.png" style="width: 30px;">@Html.ActionLink("Add a new patient", "Create")</p>
    <p><img src="~/img/barcode.png" style="width: 30px;">@Html.ActionLink("Search for Patients", "Search")</p>
  </div>
</div>
