@{
  Layout = "_Layout";
  ViewBag.Title = "Search Results Patients";
}

@using DoctorOffice.Models;
@model List<DoctorOffice.Models.Patient>

<div class="patientSearchResult">
  <h2><strong>Search Results of Patients</strong></h2>

  <div id="patientSearchLists">
    @if (Model.Count == 0)
    {
      <h3>No patients have been found</h3>
    }
    @foreach (Patient patient in Model)
    {
      <h3>@Html.ActionLink($"{patient.LastName}", "Details", new {id = patient.PatientId})</h3>
    }
  </div>
  <div class="exceptionError">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
    <h4 class="exceptionError">@TempData["ErrorMessage"]</h4>
    }
  </div>

</div>