@{
  Layout = "_Layout";
  ViewBag.Title = "Remove Doctor";
}

@model DoctorOffice.Models.Doctor

<div class="doctorDelete">
  <h2>Are you sure you want to remove this Doctor?</h2>
  <h1><strong>Doctor @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1></strong>
  @using (Html.BeginForm())
  { 
    <br>
    <input type="submit" value="Delete" class="w3-button w3-indigo" />
  }
</div>
