@{
  Layout = "_Layout";
  ViewBag.Title = "Remove Doctor";
}

@model DoctorOffice.Models.Doctor

<h2>Are you sure you want to remove this Doctor?</h2>

<div class="doctorDetails">
  <h1><strong>Doctor @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1></strong>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="btn btn-primary" />
  }
</div>

@Html.ActionLink("Back to List", "Index")