@{
  Layout = "_Layout";
  ViewBag.Title = "All Doctors";
}

@using DoctorOffice.Models;
@model IEnumerable<DoctorOffice.Models.Doctor>;

<div class="doctorsIndex">
  <h1><strong>List of Doctors</strong></h1>
  @if (Model.Any())
  {
    @foreach (Doctor doctor in Model)
    {
      <h3>@Html.ActionLink($"{doctor.FirstName} {doctor.LastName}", "Details", new { id = doctor.DoctorId })</h3>
    }
  }
  else
  {
    <p>There are currently no doctors in data. Click below to add new doctor.</p>
  }
</div>
<div class="exceptionError">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
    <h4 class="exceptionError">@TempData["ErrorMessage"]</h4>
    }
</div>

  <div id="doctorIndexLinks">
    <p><img src="~/img/add-friend.png" style="width: 30px;">@Html.ActionLink("Add a new doctor", "Create")</p>
    <p><img src="~/img/barcode.png" style="width: 30px;">@Html.ActionLink("Search for Doctors", "Search")</p>
  </div>
</div>