body {
  font-family: 'Bellota Text', cursive;
  font-size: 12pt;
  margin: 10px;
  padding: 10px;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

label {
  margin: 10px;
}

#patientDuplicate {
  color: red;
}

.checkmark {
  color: green;
  font-weight: bolder;
}

.wrongmark {
  color: green;
  font-weight: bolder;
}